@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Cormorant+Upright:wght@400;700&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Big+Shoulders+Display:wght@200;300&family=Cormorant+Upright:wght@400;700&family=Sarala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Big+Shoulders+Display:wght@200;300&family=Cormorant+Upright:wght@400;700&family=Genos:wght@300&family=Sarala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Big+Shoulders+Display:wght@200;300&family=Cormorant+Upright:wght@400;700&family=Genos:wght@300&family=Sarala:wght@700&family=Stick+No+Bills&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Genos', 'Stick No Bills', 'Big Shoulders Display', 'Sarala';
}

body {
    height: 80vh;
    background: linear-gradient(285deg, #6b6a6a, #616363);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 200px;
    width: 600px;
    background: transparent;
    border-radius: 0px;
    box-shadow: 8px 8px 8px rgba(5, 215, 0, 5);
    letter-spacing: 5px;
    
}

.relogio div {
    height: 140px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(244, 246, 246);
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
    border-radius: 5px;
    letter-spacing: 10px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 18px;
}


.data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 8px 8px 10px rgba(5, 215, 0, 5);
    letter-spacing: 5px;
    
    
}


.data div {
    height: 140px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(244, 246, 246);
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, .7);
    border-radius: 5px;
    letter-spacing: 10px;
}

.data span {
    font-weight: bolder;
    font-size: 50px;
}

.data span.dt {
    font-size: 18px;
}